<?xml version="1.0" encoding="utf-8"?>
<!-- author: totalslacker -->
<GameInfo>
	<Maps>
		<Row File="EqualAreaEarth.lua" Name="LOC_MAP_Earth_EqualArea" Description="LOC_MAP_Earth_EqualArea_DESC" Image="Map_Earth" SortIndex="-110"/>		
	</Maps>
	<Parameters>			
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="MapName" 	Name="Map Name" Description="" Domain="text" DefaultValue="EqualAreaEarth" 		ConfigurationGroup="Map" ConfigurationId="MapName" GroupId="MapOptions" Visible="0" SortIndex="1003"/>			
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="RiversPlacement" Name="LOC_MAP_RIVERS_PLACEMENT_NAME" Description="LOC_MAP_RIVERS_PLACEMENT_DESCRIPTION" Domain="RiversPlacement" DefaultValue="PLACEMENT_IMPORT" ConfigurationGroup="Map"	ConfigurationId="RiversPlacement"	GroupId="MapOptions" SortIndex="231"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="ContinentsPlacement" Name="LOC_MAP_CONTINENT_PLACEMENT_NAME" Description="LOC_MAP_CONTINENT_PLACEMENT_DESCRIPTION" Domain="ContinentsPlacement" DefaultValue="PLACEMENT_IMPORT" ConfigurationGroup="Map"	ConfigurationId="ContinentsPlacement"	GroupId="MapOptions" SortIndex="232"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="NaturalWondersPlacement" Name="LOC_MAP_NATURAL_WONDERS_PLACEMENT_NAME" Description="LOC_MAP_NATURAL_WONDERS_PLACEMENT_DESCRIPTION" Domain="NaturalWondersPlacement" DefaultValue="PLACEMENT_IMPORT" ConfigurationGroup="Map"	ConfigurationId="NaturalWondersPlacement"	GroupId="MapOptions" Hash="0" SortIndex="244"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="FeaturesPlacement" Name="LOC_MAP_FEATURES_PLACEMENT_NAME" Description="LOC_MAP_FEATURES_PLACEMENT_DESCRIPTION" Domain="FeaturesPlacement" DefaultValue="PLACEMENT_IMPORT" ConfigurationGroup="Map"	ConfigurationId="FeaturesPlacement"	GroupId="MapOptions" Hash="0" SortIndex="245"/>
		<Replace Key1="Map" Key2="EqualAreaEarth.lua" 			ParameterId="FloodPlainsPlacement" Name="LOC_MAP_FLOODPLAINS_PLACEMENT_NAME" 	Description="LOC_MAP_FLOODPLAINS_PLACEMENT_DESCRIPTION" Domain="FloodPlainsPlacement" 	DefaultValue="PLACEMENT_DEFAULT" ConfigurationGroup="Map" ConfigurationId="FloodPlainsPlacement" 	GroupId="MapOptions" Hash="0" SortIndex="260"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="ResourcesPlacement" Name="LOC_MAP_RESOURCES_PLACEMENT_NAME" Description="LOC_MAP_RESOURCES_PLACEMENT_DESCRIPTION" Domain="ResourcesPlacement" DefaultValue="PLACEMENT_IMPORT" ConfigurationGroup="Map"	ConfigurationId="ResourcesPlacement"	GroupId="MapOptions" Hash="0" SortIndex="269"/>
		<!-- <Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="ResourcesExclusion" 		Name="LOC_MAP_RESOURCES_PLACEMENT_EXCLUDE_NAME" Description="LOC_MAP_RESOURCES_PLACEMENT_EXCLUDE_DESCRIPTION" Domain="ResourcesExclusion" DefaultValue="PLACEMENT_EXCLUDE" ConfigurationGroup="Map" ConfigurationId="ResourcesExclusion" GroupId="MapOptions" SortIndex="275"/>	 -->
		<!-- <Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="RequestedResources" 		Name="LOC_MAP_RESOURCES_REQUESTED_NAME" Description="LOC_MAP_RESOURCES_REQUESTED_DESCRIPTION" Domain="RequestedResources" DefaultValue="PLACEMENT_REQUEST" ConfigurationGroup="Map" ConfigurationId="RequestedResources" GroupId="MapOptions" SortIndex="276"/>		 -->
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="Resources" Name="LOC_MAP_RESOURCES_NAME" Description="LOC_MAP_RESOURCES_DESCRIPTION" Domain="Resources" DefaultValue="2" ConfigurationGroup="Map"	ConfigurationId="resources"	GroupId="MapOptions" Hash="0" SortIndex="270"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="StartPosition" Name="LOC_MAP_START_POSITION_NAME" Description="LOC_MAP_START_POSITION_DESCRIPTION" Domain="StartPosition" DefaultValue="2" ConfigurationGroup="Map"	ConfigurationId="start"	GroupId="MapOptions" Hash="0" SortIndex="280"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="CivilizationPlacement" Name="LOC_MAP_CIVILIZATION_PLACEMENT_NAME" Description="LOC_MAP_CIVILIZATION_PLACEMENT_DESCRIPTION" Domain="CivilizationPlacement" DefaultValue="PLACEMENT_TSL" ConfigurationGroup="Map"	ConfigurationId="CivilizationPlacement"	GroupId="MapOptions" Hash="0" SortIndex="280"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="ForceTSL" Name="LOC_MAP_FORCE_TSL_NAME" Description="LOC_MAP_FORCE_TSL_DESCRIPTION" Domain="ForceTSL" DefaultValue="FORCE_TSL_OFF" ConfigurationGroup="Map"	ConfigurationId="ForceTSL"	GroupId="MapOptions" Hash="0" SortIndex="281"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="StartPosition" Name="LOC_MAP_START_POSITION_NAME" Description="LOC_MAP_START_POSITION_DESCRIPTION" Domain="StartPosition" DefaultValue="2" ConfigurationGroup="Map"	ConfigurationId="start"	GroupId="MapOptions" Hash="0" SortIndex="285"/>
		<!-- <Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="ExtraLakes" Name="LOC_LAKES_PTW" Description="LOC_LAKES_PTW_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="ExtraLakes" GroupId="MapOptions" SortIndex="1012"/> -->
		<!-- <Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="ExtraGeothermal" Name="LOC_GEOTHERMAL_PTW" Description="LOC_GEOTHERMAL_PTW_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="ExtraGeothermal" GroupId="MapOptions" SortIndex="1012"/> -->
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="ConvertMaize" Name="LOC_CONVERT_MAIZE_PTW" Description="LOC_CONVERT_MAIZE_PTW_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="ConvertMaize" GroupId="MapOptions" SortIndex="1012"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="LeyLines" Name="LOC_LEY_LINES_PTW" Description="LOC_LEY_LINES_PTW_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="LeyLines" GroupId="MapOptions" SortIndex="1012"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="GenerateIce" Name="LOC_ICE_GENERATION" Description="LOC_ICE_GENERATION_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="GenerateIce" GroupId="MapOptions" SortIndex="1012"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="ForestFires" Name="LOC_FOREST_FIRES_NAME" Description="LOC_FOREST_FIRES_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="ForestFires" GroupId="MapOptions" SortIndex="1012"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="Scotland" Name="LOC_BIG_SCOTLAND_NAME" Description="LOC_BIG_SCOTLAND_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="Scotland" GroupId="MapOptions" SortIndex="1012"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="OceanMovement" Name="LOC_OCEAN_MOVEMENT_NAME" Description="LOC_OCEAN_MOVEMENT_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="OceanMovement" GroupId="MapOptions" SortIndex="1012"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="FirstEnvoyCS" Name="LOC_FIRST_ENVOY_NAME" Description="LOC_FIRST_ENVOY_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="FirstEnvoyCS" GroupId="MapOptions" SortIndex="1012"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="EmergencyVisibility" Name="LOC_EMERGENCY_VIS_NAME" Description="LOC_EMERGENCY_VIS_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="EmergencyVisibility" GroupId="MapOptions" SortIndex="1012"/>
		<!-- <Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="HigherEraScore_NormalAges" Name="LOC_HIGHER_ERA_SCORE_NAME" Description="LOC_HIGHER_ERA_SCORE_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="HigherEraScore_NormalAges" GroupId="MapOptions" SortIndex="1012"/> -->
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="HigherEraScore_DramaticAges" Name="LOC_HIGHER_ERA_SCORE_NAME" Description="LOC_HIGHER_ERA_SCORE_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="HigherEraScore_DramaticAges" GroupId="MapOptions" SortIndex="1012"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="ScythiaTSL" Name="LOC_ALTERNATE_TSL_SCYTHIA" Description="LOC_ALTERNATE_TSL_SCYTHIA_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="ScythiaTSL" GroupId="MapOptions" SortIndex="299"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="OttomansAnatolia" Name="LOC_ALTERNATE_TSL_OTTOMAN" Description="LOC_ALTERNATE_TSL_OTTOMAN_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="OttomansAnatolia" GroupId="MapOptions" SortIndex="299"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="PhoeniciaTSL" Name="LOC_ALTERNATE_TSL_PHOENICIA" Description="LOC_ALTERNATE_TSL_PHOENICIA_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="PhoeniciaTSL" GroupId="MapOptions" SortIndex="299"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="SumeriaTSL" Name="LOC_ALTERNATE_TSL_SUMERIA" Description="LOC_ALTERNATE_TSL_SUMERIA_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="SumeriaTSL" GroupId="MapOptions" SortIndex="299"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="HungaryTSL" Name="LOC_ALTERNATE_TSL_HUNGARY" Description="LOC_ALTERNATE_TSL_HUNGARY_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="HungaryTSL" GroupId="MapOptions" SortIndex="299"/>
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="AutoCityNaming" Name="LOC_MAP_AUTO_CITY_NAMING_NAME" Description="LOC_MAP_AUTO_CITY_NAMING_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="AutoCityNaming" GroupId="MapOptions" Visible="1" SortIndex="2000"/>		
		<Row Key1="Map" Key2="EqualAreaEarth.lua" ParameterId="CustomLabels" Name="LOC_MAP_CUSTOM_LABELS" Description="LOC_MAP_CUSTOM_LABELS_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="CustomLabels" GroupId="MapOptions" Visible="1" SortIndex="2000"/>
	</Parameters>	
	<ParameterDependencies>	
		<Row ParameterId="PlaceAllStrategics" ConfigurationGroup="Map" ConfigurationId="MapName" Operator="NotEquals" ConfigurationValue="EqualAreaEarth"/>
		<!-- <Row ParameterId="HigherEraScore_NormalAges" ConfigurationGroup="Map" ConfigurationId="HigherEraScore_DramaticAges" Operator="NotEquals" ConfigurationValue="1"/> -->
		<!-- <Row ParameterId="HigherEraScore_DramaticAges" ConfigurationGroup="Map" ConfigurationId="HigherEraScore_NormalAges" Operator="NotEquals" ConfigurationValue="1"/> -->
	</ParameterDependencies>
</GameInfo>
